<h1>Editing Order</h1>

<section class="depot_form">
<%= render 'form', order: @order %>
</section>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>

<%= javascript_pack_tag("pay_type") %>

